# .env
SECRET_KEY="secret"
CONFIGURATION_SETUP="config.DevelopmentConfig"
PORT="20500"

DB_SQLALCHEMY_URI="postgresql+psycopg2://epistem_admin:epistem@localhost:5432/epistem_be"

GOOGLE_APPLICATION_CREDENTIALS="/home/del/staging-scene-428902-3d1f45aa59ad.json"

# Contact Us email
MAIL_SMTP_HOST="smtp.gmail.com"
MAIL_SMTP_PORT="587"
MAIL_SENDER="webdev@epistem.io"
MAIL_PASSWORD=""