# .env
SECRET_KEY="secret"
CONFIGURATION_SETUP="config.DevelopmentConfig"
PORT="20500"

DB_SQLALCHEMY_URI="postgresql+psycopg2://epistem_admin:epistem@localhost:5432/epistem_be"

GOOGLE_APPLICATION_CREDENTIALS="/home/del/staging-scene-428902-3d1f45aa59ad.json"